* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  box-sizing: border-box;
}

#page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
  "nav nav nav"
  "main main main"
  "footer footer footer";
  grid-template-rows: 50px 1fr 80px;
  grid-template-columns: minmax(100px, 300px) 1fr;
  color: #fff;
  font-weight: 200;
}

#page > nav {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: clamp(10px,1rem,1.5rem);
  grid-area: nav;
  background-color: #1F9CB5;
}

#page > nav > ul {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

#page > nav > ul > li {
  font-size: 1.2rem;
  cursor: pointer;
}

#page > nav > ul > li:nth-child(1) {
  color: #1f9cb4;
}

#page > nav > ul > li:nth-child(2) {
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
}

/* #page > aside {
  display: flex;
  justify-content: center;
  grid-area: aside;
  background-color: #b6d6e6;
}

#page > aside > ul {
  margin-top: 20px;
  list-style: none;
}

#page > aside > ul > li {
  font-size: clamp(15px,0.8rem,1.2rem);
  font-weight: 400;
  cursor: pointer;
  margin: 10px;
}

#page > aside > ul > li > a {
  text-decoration: none;
  color: #fff;
} */

#page > main {
  grid-area: main;
  background-color: #243336;
}

#page > main > section > h2 {
  font-size: clamp(20px,1.5rem,3rem);
  margin: 20px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
}

#page > footer {
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: #316A75;
}

#introduction > p {
  margin: 20px;
  text-align: justify;
}

#why > p {
  margin: 20px;
  text-align: justify;
}

#endpoint > div.uri {
  /* background-color: #FFFFFF; */
  background-color: #316A75;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 13px;
}

#endpoint > div.response {
  background-color: #316A75;
  margin: 40px 20px;
}

#endpoint > div.response > pre > code {
  font-weight: 400;
}
